.prices {
  padding: 120px 0;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111319;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  margin-bottom: var(--main-margin);
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--secondary-header-color);
}

.prices-list-wrap {
  display: flex;
  gap: 30px;
}

.prices-list {
  flex-grow: 1;
  padding: 30px 20px;

  &:first-child {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  &:last-child {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.prices-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-margin);
  align-items: baseline;

  &:last-child {
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    height: 1px;
    width: 60px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    margin: 0 12px;
  }
}

.prices-elem {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;

  &:last-child {
    order: 1;
  }
}

.prices-btn {
  margin: 0 auto;
  display: block;
  margin-top: 44px;
  color: #ffffff;
}
